.changePassword{
    body{margin:auto;padding:0}#wrapper{width:100%;height:auto;min-height:100};
    margin-top: 100px;
}

.label-change{
    font-weight: bold;
    margin-left: 150px;
}
.input-change{
    margin-left: 150px;
    width: 60%;
}